@import "./font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {  
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    border-radius: 45% 51% 28% 72% / 39% 41% 59% 66% ;  
}  
.custom-container:before {
  content: '';
  position: absolute;
  top: 10%;
  left: 15%;
  width: 13%;
  height: 13%;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
}
.custom-container:after {
  content: '';
  position: absolute;
  top: 20%;
  left:28%;
  width: 8%;
  height: 8%;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
@layer base {
  html {
      @apply text-base;
  }

  body {
      @apply font-Iran-Yekan;
  }
}